

table p{
	font-size: 16px;
}



.product {
	height: 150px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
	background-color: #F7F7F7;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tr:nth-child(even) {
  background: #F7F7F7;
}


.product_name {
	font-weight: 500;
}

.description {
padding: 30px 0 30px 35px;
width: 40%;
}



.user_choices {
	display: inline-block;
}

.choice_name {
	color: #9B9B9B;
	display: inline-block;

}


 thead, .cart_price, .quantity, .total, .remove {
	text-align: center;

}

  th {
	padding-bottom: 10px;
}


.total_price_box p {
	margin-top: 30px;
	font-size: 24px;
	font-weight: 700;
	color: #333b46;
}



.odd_bkg {
	height: 150px;
	/*width: 80%; */
	background-color: #fff;

}



.cart_cols {
	margin: 0;
	font-size: 12px;
}

.col-1 {
	padding: 0;
}