

/**************
Grid
**************/




/*************************
Main Page
**************************/

/* main image block */

body {
	font-family: 'Roboto', sans-serif;
}

/********
Main menu
********/

.menu
{
font-family: 'Roboto', sans-serif;
  width: 164px;
  height: 34px;
  /* font-family: Roboto; */
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #00aba6;

/* font-family: input-sans, sans-serif;
    font-weight: 400;
	font-size: 14px;
	line-height: 42px;
	
	text-align: right;
    margin-top: 20px;
	margin-right: 5%;
*/

}

li {
		display: inline;
		padding-right: 40px;
}