body {
	height: 4205px;	
	font-family: 'Roboto', sans-serif;
	background-height: 4205px;
	background-position: top;
	background-repeat: no-repeat; 
}


.container-fluid {
/*	padding: 0 42px;*/
}

/********
Main menu
********/

.menu {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 20px;
	line-height: 42px;
	
	text-align: right;
    margin-top: 20px;
	margin-right: 5%;	
}

.menu li {
		display: inline;
		padding-left: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

.menu a {
	color: #00aba6;
}
.menu a:active {
	color: #D0021B;
}
.menu a:hover {
	text-decoration: none;
	color: #D0021B;
}



/********
MAIN PAGE
*********/


/*Header Block*/

#header_main {
	background-image: url(../img/space.png);
	background-repeat: no-repeat; 
}











/*Footer*/

.footer {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: medium;
	font-size: 17px;
	padding: 60px 0;
	line-height: 20px;
	text-align: left;
	list-style: none;
}

.footer li {
		list-style: none;
		padding-left: 20px;
}